.sunny_bg{
  background-image: linear-gradient(120deg,#54b4eb 0,#1d9ce5 100%);
}
.user_interval{
  margin-left: 5px;
  margin-right: 5px;
}
.bg-guest{
  background-color: white;
  color: black !important;
  border-radius: 4px;
}
.title-p_auto{
  padding: 1rem;
}
